<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
	<th></th>
	<th></th>
	<th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
	<td><%= link_to 'Objects:' , drp_path(user) %></td> 
	<td><%= user.patients.count %></td>
	<td><%= link_to 'Appointments:' , user.appointments.count > 0 ? papp_path(user): nil %></td> 
	<td><%= user.appointments.count %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
