<p id="notice"><%= notice %></p>

<p>
  <b>User_id:</b>
  <%= @appointment.user_id %>
</p>

<p>
  <b>Patient_id:</b>
  <% p= Patient.find(@appointment.patient_id) %>
  <%= p.name %>
</p>

<p>
  <b>Date:</b>
  <%= @appointment.date %>
</p>

<p>
  <b>Time:</b>
  <%= @appointment.time %>
</p>

<p>
  <b>Comment:</b>
  <%= @appointment.comment %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
